* {
  padding: 0;
  margin: 0;
  background-color: #efdeca;
  color: #444;
  font-family: sans-serif;
  font-weight: bold;
}

.header {
  margin: 2vw auto;
  text-align: center;
  font-size: 6vmin;
  font-weight: bold;
  font-family: 'Dancing Script';
  width: 90%;
}
.bordered {
  border: 0.1em dotted;
  border-radius: 1em;
  padding: 2vh;
  background-color: #edfded;
}
.mainbody {
  height: 80vh;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.parent {
  text-align: center;
  left: 0;
  top: 0;
  font-size: 10vmin;
  width: 100vw;
  font-family: 'Dancing Script';
}

.dateandtime {
  text-align: center;
  font-size: 6vmin;
  margin-top: 4vh;
  font-family: 'Patrick Hand';
}

.chef {
  padding-top: 5vh;
}

.info {
  text-align: center;
  font-size: 10vmin;
  font-family: 'Dancing Script';
}

.souschef {
  padding-top: 2vmin;
}

.subinfo {
  text-align: center;
  font-size: 6vmin;
  font-family: 'Dancing Script';
}
.food {
  text-align: center;
  font-family: 'Patrick Hand';
  font-size: 5vmin;
}
