* {
  padding: 0;
  margin: 0;
}

.parent {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cff;
  color: 666;
  font-family: sans-serif;
}

.pos {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 6vh;
  text-align: center;
  transform: translate(-50%, -50%);
  padding: 1vh;
}

.child {
  box-shadow: 1px 1px 10px rgba(0,0,0,.4);
  background-color: #eee;
  margin: 1vh;
}

.child-text {
  padding: 5px 0;
  background-color: #fdd;
}

.main-img {
  display: block;
  height: 30vh;
}

.update-text {
    font-size: 2vh;
}
