* {
  padding: 0;
  margin: 0;
}
.parent {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fc6;
}
.child {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 6vh;
  text-align: center;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 10px rgba(0,0,0,.4);
  background-color: #eee;
  padding: 1vh;
}